*{margin: 0;padding: 0;}
.l-header-wrap{
	width:100%;
	height:120px;
	background: #000;
	color:#fff;
	font-size: "Arial";    
}
.l-header{
	width:1392px;
	height:120px;
	background: #000;
	margin:0 auto;
	color:#fff;
}
.l-head{
	width:260px;
	height: 65px;
	float:left;
	margin-left: 80px;
	padding-top: 15px;
}
.l-header img{
	display: block;
	width:100%;
	height:100%;
}
.l-input{
	width:370px;
	height:89px;
	float:left;
	margin-left: 197px;
	padding-top:20px;
}
.l-input p{
	width:120px;
	height:26px;
	span{
	    display:block;
        float: left;
        width:60px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        font-size: 12px;
	}
}
.l-input-span1{
	color:#000000;
	background: #fff;
}
.l-input-span2{
	color:#fff;
	background: #000000;
}
.l-input-input{
	width:370px;
	height:30px;
	position: relative;
	span{
       display: block;
        float:left;
        width:80px;
        height:30px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        background: #fff;
        color:#000;
        position:absolute;
        right:0;
        bottom:0 
    }
}
#sou{
	display: block;
	border:none;
	width:275px;
	height:26px;
	border:2px solid #fff;
	background: #000000;
	color:#fff;
	padding-left:11px;
}
.l-input-p2{
    width:370px;
    height:26px;
    p{
        width:370px;
        height:26px;
        span{
            width:auto;
            height:26px;
            line-height: 26px;
            text-align: left;
            margin-right: 10px;
        }
    }
    p:nth-of-type(2){
        display: none;
        span{
            margin-right: 5px;
        }
    }
}
.l-Router-wrap{
    width:100%;
    height:70px;
    background: #000;
    color:#fff;
    font-size: "Arial";
    position: relative;
    .l-Router-fenlei{
        width:160px;
        height:45px;
        background: #fff;
        color:#000;
        position:absolute;
        left:63px;
        top:14px;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
        font-weight:800;
    }
    .l-Router{
        width:1141px;
        height:55px;
        margin:0 auto;
        padding-top:15px;
        padding-left: 223px;
        padding-right:28px;
        .l-Router-one{
            display: block;
            float:left;
            width:76px;
            height:37px;
            line-height: 37px;
            text-align: center;
            color: #fff;
            padding:0 24px;
            font-style: normal;
            font-variant-ligatures: normal;
            font-variant-caps: normal;
            font-variant-numeric: normal;
            font-variant-east-asian: normal;
            font-weight: bold;
            font-stretch: normal;
            font-size: 14px;
            font-family: "Microsoft Yahei";
            position:relative;
        }
        .l-Router-two{
            width:auto;
            height:14px;
            display: block;
            float: right;
            line-height: 14px;
            font-size: 12px;
            text-decoration: none;
            color: #444;
            font-family: 'Arial';
            z-index: 1;
            font-size: 14px;
            color:#fff;
            span{
                padding:0 10px;
            }
        }
    }    
}
.sanjiao{
    font-style: normal;
    display: block;
    position: absolute;
    width:0;
    height: 0;
    border-width:5px;
    border-style:solid;
    border-color: #fff transparent transparent transparent;
    left:57px;
}
.fenlei{
    width:160px;
    position:absolute;
    top:190px;
    left:63px;
    background: #272727;
    color:#fff;
    display: none;
}
